<ion-tabs class="  tabs-icon-top tabs-background-stable tabs-color-dark" data-ink-opacity=".35" >
	<ion-tab class="{{ hide_menu_dashboard }} menu-dashboard" title="{{ 'HOME' | translate }}" icon-off="ion-android-home" icon-on="ion-android-home" ui-sref="mad_games_studio.dashboard" >
		<ion-nav-view animation="none" name="mad_games_studio-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_menu_one }} menu-menu_one" title="{{ 'ABOUTUS' | translate }}" icon-off="ion-star" icon-on="ion-star" ui-sref="mad_games_studio.menu_one" >
		<ion-nav-view animation="none" name="mad_games_studio-menu_one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_menu_two }} menu-menu_two" title="{{ 'HWOWEARE' | translate }}" icon-off="ion-help-circled" icon-on="ion-help-circled" ui-sref="mad_games_studio.menu_two" >
		<ion-nav-view animation="none" name="mad_games_studio-menu_two"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_faq }} menu-faq" title="{{ 'FAQ' | translate }}" icon-off="ion-android-star" icon-on="ion-android-star" ui-sref="mad_games_studio.faq" >
		<ion-nav-view animation="none" name="mad_games_studio-faq"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_teeeeest }} menu-teeeeest" title="{{ 'BLOG' | translate }}" icon-off="ion-chatbubbles" icon-on="ion-chatbubbles" ui-sref="mad_games_studio.teeeeest" >
		<ion-nav-view animation="none" name="mad_games_studio-teeeeest"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_us" title="About Us"  ui-sref="mad_games_studio.about_us"  >
		<ion-nav-view animation="none" name="mad_games_studio-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-arcadia" title="Games world"  ui-sref="mad_games_studio.arcadia"  >
		<ion-nav-view animation="none" name="mad_games_studio-arcadia"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-ava" title="Game place"  ui-sref="mad_games_studio.ava"  >
		<ion-nav-view animation="none" name="mad_games_studio-ava"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-cut" title="Cut"  ui-sref="mad_games_studio.cut"  >
		<ion-nav-view animation="none" name="mad_games_studio-cut"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="dashboard"  ui-sref="mad_games_studio.dashboard"  >
		<ion-nav-view animation="none" name="mad_games_studio-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-face" title="face"  ui-sref="mad_games_studio.face"  >
		<ion-nav-view animation="none" name="mad_games_studio-face"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-faq" title="FAQs"  ui-sref="mad_games_studio.faq"  >
		<ion-nav-view animation="none" name="mad_games_studio-faq"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-files" title="files"  ui-sref="mad_games_studio.files"  >
		<ion-nav-view animation="none" name="mad_games_studio-files"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_one" title="game1"  ui-sref="mad_games_studio.game_one"  >
		<ion-nav-view animation="none" name="mad_games_studio-game_one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_store" title="Mad Games Store"  ui-sref="mad_games_studio.game_store"  >
		<ion-nav-view animation="none" name="mad_games_studio-game_store"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_three" title="Game3"  ui-sref="mad_games_studio.game_three"  >
		<ion-nav-view animation="none" name="mad_games_studio-game_three"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-game_two" title="Game2"  ui-sref="mad_games_studio.game_two"  >
		<ion-nav-view animation="none" name="mad_games_studio-game_two"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-games" title="games"  ui-sref="mad_games_studio.games"  >
		<ion-nav-view animation="none" name="mad_games_studio-games"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-gamix" title="Gamix"  ui-sref="mad_games_studio.gamix"  >
		<ion-nav-view animation="none" name="mad_games_studio-gamix"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-hwoweare" title="HWOWEARE"  ui-sref="mad_games_studio.hwoweare"  >
		<ion-nav-view animation="none" name="mad_games_studio-hwoweare"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-inst" title="inst"  ui-sref="mad_games_studio.inst"  >
		<ion-nav-view animation="none" name="mad_games_studio-inst"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-m" title="FAQs"  ui-sref="mad_games_studio.m"  >
		<ion-nav-view animation="none" name="mad_games_studio-m"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-manag" title="manag"  ui-sref="mad_games_studio.manag"  >
		<ion-nav-view animation="none" name="mad_games_studio-manag"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-market" title="Market"  ui-sref="mad_games_studio.market"  >
		<ion-nav-view animation="none" name="mad_games_studio-market"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_one" title="About US"  ui-sref="mad_games_studio.menu_one"  >
		<ion-nav-view animation="none" name="mad_games_studio-menu_one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_two" title="Who we are"  ui-sref="mad_games_studio.menu_two"  >
		<ion-nav-view animation="none" name="mad_games_studio-menu_two"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-quiz" title="MyQuiz"  ui-sref="mad_games_studio.quiz"  >
		<ion-nav-view animation="none" name="mad_games_studio-quiz"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-short" title="short"  ui-sref="mad_games_studio.short"  >
		<ion-nav-view animation="none" name="mad_games_studio-short"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="mad_games_studio.slide_tab_menu"  >
		<ion-nav-view animation="none" name="mad_games_studio-slide_tab_menu"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-trade" title="Trade"  ui-sref="mad_games_studio.trade"  >
		<ion-nav-view animation="none" name="mad_games_studio-trade"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-traff" title="traff"  ui-sref="mad_games_studio.traff"  >
		<ion-nav-view animation="none" name="mad_games_studio-traff"></ion-nav-view>
	</ion-tab>
</ion-tabs>
