	<ion-view view-title=" games" hide-nav-bar="true" >
		<ion-nav-title> games</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-games" class="games page-games">
		
	<div class="slide-box-hero">
		<ion-slides class="slide-box-hero-content" options="{slidesPerView:1,autoplay:10000,loop:1}" slider="data.slider">
			<ion-slide-page>
				<img ng-src="data/images/images/barner-1.jpg" class="" />
			</ion-slide-page>
			<ion-slide-page>
				<img ng-src="data/images/images/barner-2.jpg" class="" />
			</ion-slide-page>
		</ion-slides>
	</div>
		<div class="dashboard-panel">
			<div></div>
			<!-- row -->
			<div class="row">
				<a id="menu-box-1126f354a98ccae4f500cd545ec5548ce499b12d" class="col-33 royal-bg transparent ink"  ng-href="#/mad_games_studio/game_one" >
					<i class="icon ion-star" ></i>
					<p>Game one</p>
				</a>
				<a id="menu-box-1179d7ed1e5938839cc147fd174e2cad578b6d62" class="col-33 royal-bg transparent ink"  ng-href="#/mad_games_studio/game_two" >
					<i class="icon ion-help-circled" ></i>
					<p>Game two</p>
				</a>
				<a id="menu-box-6b34740729b9a0cc7dda44c1f898ddbcbcdcdbb8" class="col-33 royal-bg transparent ink"  ng-href="#/mad_games_studio/game_three" >
					<i class="icon ion-android-star" ></i>
					<p>Game three</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
<br/><br/><br/>
		</ion-content>
		<!-- ./content -->
	</ion-view>
