	<ion-view view-title=" Who we are" hide-nav-bar="false" >
		<ion-nav-title> Who we are</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"  overflow-scroll="true"   id="page-menu_two" class="fullscreen page-menu_two">
		<ion-slide-box show-pager="true" auto-play="true" pager-click="true" >
	<ion-slide style="background: #999 url('data/images/background/bg7.jpg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.8;margin-top:80px">
				<h4>App Builder</h4>
				<p>Suitable with many app backend, WordPress, Joomla, Drupal, PHP SQL, Private CMS</p>
			</div>
		</div>
	</ion-slide>
	<ion-slide style="background: #999 url('data/images/background/bg10.jpg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.8;margin-top:80px">
				<h4>It's like a magic!</h4>
				<p>Can make a hybrid app without the need to know programming.</p>
			</div>
		</div>
	</ion-slide>
	<ion-slide style="background: #999 url('data/images/background/bg3.jpg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.8;margin-top:80px">
				<h4>Any kind of games!</h4>
				<p>You can take any kind of games, art, etc.!</p>
			</div>
		</div>
	</ion-slide>
</ion-slide-box>

		</ion-content>
		<!-- ./content -->
	</ion-view>
