	<ion-view view-title=" About US" hide-nav-bar="true" >
		<ion-nav-title> About US</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-menu_one" class=" page-menu_one">
		<div class="padding scroll">

    <div class="padding menu_one-box">
      <h2>frAGENtiCY</h2></br><p>(the frantic Agency)</p>
      <h4>Web development</h4>
        <div>
            <p>Our agency provides a full spectrum of services 
          for the development(and publishing) of web resources, 
              WL / ERP systems, web portals, gaming, and social networks.</p>
<h4>Mobile apps&games dev</h4>
<p>For many years, our agency has been developing mobile applications 
  and games. We offer both ready-to-launch solutions and development 
  from scratch.</p>
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior menu_one-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/Mad-Agency-101413347896073/')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://www.instagram.com/mad_games_maker/')" >
        <i class="assertive icon ion-social-instagram"></i>
        Follow us on Instagram
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://www.linkedin.com/company/14846918')" >
        <i class="calm icon ion-social-linkedin"></i>
       Follow us on Linkedin
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mailto://mad.games.maker@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: mad.games.maker@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
